@model madden.Dtos.RoomCreateDto


@{
    ViewData["Title"] = "Room";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
  
      public class RoomCreateDto
    {


 

    }

    <h1>Register Form</h1>
    <form asp-controller="Room" asp-action="Register" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Code">Code:</label>
            <input asp-for="Code" />
        </div>
        <div>
            <label asp-for="Team">team:</label>
            <input asp-for="Team" />
        </div>
        <div>
            <label asp-for="TimerDuration">team:</label>
            <input asp-for="TimerDuration" />
        </div>

        <button type="submit">Add Draft Room</button>
    </form>
</body>
</html>