
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/Header.css">
</head>
<body>
          <header>
                <div className="leftIcon">
                    <i className="fa fa-bars"></i>
                </div>
                <h1><span title="National Football League">NFLs</span> Draft Simulator</h1>
                <div className="rightIcon">
                    <i className="fas fa-user"></i>
                </div>      
            </header>
</body>
</html>