/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  height: 100vh;
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;

  align-content: flex-start;
}

    */




.ticker {
    margin: 0px;
    padding: 0px;
    width: 80%;
}

.playerTable {
    width: 70%;
}


.informational {
    height: 500px;
    border-style: solid;
    border-color: greenyellow;
    width: 200px;
    margin: 0px;
    padding: 0px;
}






/* For the table  Rows */
table {
    margin-left: auto;
    margin-right: 0;
    width: 80%;
    border-collapse: collapse;
}

    table th,
    table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    table tr:hover {
        background-color: #f5f5f5;
    }
.teamsContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.teamsContainer > :first-child {
    border-color: green;
}
    .teamsContainer > :nth-child(2) {
        border-left-color: green;
    }


body {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    background-color: lightgray;
    text-align: center;
    line-height: 60px;
}
/*
.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
}
    */
body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    background-color: lightgray;
    text-align: center;
    line-height: 60px;
}
/*
.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
}
    */

