@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>Welcome</h1>
    <a asp-controller="User" asp-action="LoginForm">Login</a>
    <a asp-controller="User" asp-action="RegisterForm">Register</a>
</body>
</html>