@* This is a razor view *@

@* Razor is the view engine 
   that proccesses the view and 
   generates html to be sent 
   to the browser  
 *@
 
@* This is a razor expression that 
   does not create standard template
 *@

@model int
@{
Layout = null;
}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width">
<title>Indexz</title>
</head>
<body>
	<p>Dynamic data --> @Model</p>
	<a asp-action="RSVP">RSVP</a>
</body>
</html>